# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

Optix/build/*
build/*

Pix2Pix/generated_dataset/*
Pix2Pix/results/*
Pix2Pix/test_output/*
Pix2Pix/training_checkpoints/*
Pix2Pix/logs/*
Pix2Pix/fit/*
